.style1 {
	font-family: Arial Unicode MS;
	font-size: 9px;
}
.style2 {
	font-family: Arial Unicode MS;
	font-size: 9px;
	font-weight: bold;
}

.MenuLink a:link
{
	font-family: Arial Unicode MS;
    font-size: 12px;
    margin-left: 15px;
    COLOR: white;
    TEXT-DECORATION: none
}
.MenuLink a:visited
{
	font-family: Arial Unicode MS;
    font-size: 12px;
    margin-left: 15px;
    COLOR: white;
    TEXT-DECORATION: none
}
.MenuLink a:hover
{
	font-family: Arial Unicode MS;
	font-size: 12px;
    margin-left: 15px;
    COLOR: #FFCC00;
    TEXT-DECORATION: none
}