.TablaLink a:link
{
    COLOR: black;
    TEXT-DECORATION: none
}
.TablaLink a:visited
{
    COLOR: black;
    TEXT-DECORATION: none
}
.TablaLink a:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #BD2C21;
	TEXT-DECORATION: underline
}

.TablaLink th
{
    font-family: Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR:#FFFFFF;
	background-color:#4A5194;
	height: 20;
}

.TablaLink td
{
    font-family: Arial, Helvetica, sans-serif;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
	height: 20;
}

.TablaLink tr
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.MenuLink a:link
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
	font-size:9px;
    COLOR: black;
    TEXT-DECORATION: none
}
.MenuLink a:visited
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
	font-size:9px;
    COLOR: black;
    TEXT-DECORATION: none
}
.MenuLink a:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
	font-size:9px;
    COLOR: #BD2C21;
    TEXT-DECORATION: none
}
.Boton01
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:black;
background-color:#EFEFEF;
border-style:inset;
height:auto 
}

.CapturaABC
{
font-family:Arial, Helvetica, sans-serif;
font-size:9px;
height:16;
}

.CapturaABC th
{
    font-family: Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR:#FFFFFF;
	background-color:#4A5194;
	height: 20;
}

.CapturaABC td
{
    font-family: Arial, Helvetica, sans-serif;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR:#000000;
	background-color:#FFEA96;
	height: 20;
}


